<!-- <img src="https://www.safransdumonde.com/images/Safrans/Nos-creations/Themes/Croisieres/Slide-how/Slide-how-theme-croisieres-1.jpg"> -->
<html>
  <div class="form-wrapper">
    <header>
      Welcome to Web Bidding
    </header>
    <body>
      <div [formGroup]="profileForm" class="form-group">
        <label>
          Email:
        </label>

        <mat-form-field>
          
          <input
            class="form-control form-control-sm"
            matInput
            type="text"
            formControlName="email"
          />
          <mat-error *ngIf="profileForm.get('email')"> Email invalid</mat-error>
        </mat-form-field>

        <label>
          Password:
        </label>
        <mat-form-field>
          <input
            class="form-control form-control-sm"
            matInput
            type="password"
            formControlName="password"
          />
          <mat-error *ngIf="profileForm.get('password')">
            Password invalid</mat-error
          >
        </mat-form-field>
        <div class="submitButton">
          <mat-checkbox color="primary">Remember Me</mat-checkbox>
          

          <button mat-raised-button color="primary" type="submit"
          (click)="onSubmit()"
          [disabled]="!profileForm.valid">Submit</button>
            
        </div>
        <div id = "signUp" routerLink = "/signUp">
            Do not have account? Sign Up

        </div>
        
      </div>
    </body>
  </div>
</html>
