.header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-image: url("image/header.jpg");
    color: orange;
}

.header .comment{
    padding: 25px 20px;
}

.header .Title{
    cursor: pointer;
}

