<ul class="header">
    <li><h2 routerLink="/home" class ="Title">Web Bidding.com</h2></li>
    <li class="comment">Best bidding website</li>
  </ul>
<mat-toolbar class="navBar">
  <span class="AdminPanel" routerLink="/admin"> Admin Panel</span>
  <div class="rightNavBar">
    <span class="email"> admin@gmail.com</span>
    <button mat-button routerLink="/home">Sign out</button>
  </div>
</mat-toolbar>

<div class="body">
  <mat-list>
    <div class="Dashboard">
      <mat-icon mat-list-icon>menu</mat-icon>
      <span>Dash Board</span>  
    </div>

    <mat-list-item *ngFor="let value of dashBoard">
      <mat-icon mat-list-icon>subdirectory_arrow_right</mat-icon>
      <h4 mat-line routerLink="{{ value.route }}">{{ value.name }}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
