.Dashboard {
    list-style-type: none;
    display: flex;
}

li{
    padding-right: 10px;
}

body{
    display: flex;
    
}

body{
    background-image: url(https://s3.envato.com/files/247451692/4.%20Preview%20Image.jpg);
    height: 100vh;
    background-size:cover ;
    width:100%;
}