<body>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>menu</mat-icon>
        <h4 mat-line>Dash board</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>arrow_forward</mat-icon>
        <h4 mat-line>Vin Fast Klara</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>arrow_forward</mat-icon>
        <h4 mat-line>Vin Fast Impes</h4>
      </mat-list-item>
      
      <mat-divider></mat-divider>
    </mat-list>
  </body>
  