<h1 mat-dialog-title>Edit Product Info</h1>
<div mat-dialog-content>
  <div [formGroup]="profileForm" class="form">
    <div class="Name">
      <label>
        Product Name:
      </label>
      <mat-form-field>
        <input
          class="form-control form-control-sm"
          matInput
          type="text"
          formControlName="productName"
        />
      </mat-form-field>

      <label>
        Description:
      </label>

      <mat-form-field>
        <input
          class="form-control form-control-sm"
          matInput
          type="text"
          formControlName="description"
        />
      </mat-form-field>
    </div>

    <label>
      Product Image:
    </label>

    <mat-form-field>
      <input
        class="form-control form-control-sm"
        matInput
        type="text"
        formControlName="productImage"
      />
    </mat-form-field>

    <label>
      Category:
    </label>

    <mat-form-field>
      <input
        class="form-control form-control-sm"
        matInput
        type="text"
        formControlName="Category"
      />
    </mat-form-field>

    <label>
      Price Start:
    </label>

    <mat-form-field>
      <input
        class="form-control form-control-sm"
        matInput
        type="number"
        formControlName="priceStart"
      />
    </mat-form-field>

    <label>
      Buy Price:
    </label>

    <mat-form-field>
      <input
        class="form-control form-control-sm"
        matInput
        type="number"
        formControlName="buyPrice"
      />
    </mat-form-field>

    
    <label>
      Start Time:
    </label>

    <mat-form-field>
      <input
        class="form-control form-control-sm"
        matInput
        type="text"
        formControlName="startTime"
      />
    </mat-form-field>


    <div>
      <label>
        End Time:
      </label>
  
      <mat-form-field>
        <input
          class="form-control form-control-sm"
          matInput
          type="text"
          formControlName="endTime"
        />
      </mat-form-field>
    </div>
    

    <label>
      Status:
    </label>

    <mat-form-field>
      <mat-select formControlName="status">
        <mat-option value="Sold">Sold</mat-option>
        <mat-option value="Avaiable">Avaiable</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    (click)="onYesClick()"
    [mat-dialog-close]="data.status1"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
